/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  color-scheme: dark;
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$orange-color};
  --global-hover-color: #{$orange-color};
  --global-hover-text-color: #{$white-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #424246;
  --global-card-bg-color: #{$grey-900};
  --global-back-to-top-bg-color: rgba(
    #{color.channel($white-color, "red", $space: rgb)},
    #{color.channel($white-color, "green", $space: rgb)},
    #{color.channel($white-color, "blue", $space: rgb)},
    0.5
  );
  --global-back-to-top-text-color: #{$black-color};
  --global-newsletter-bg-color: #{$grey-color-light};
  --global-newsletter-text-color: #{$grey-color-dark};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #215d42;
  --global-tip-block-text: #beffe2;
  --global-tip-block-title: #e2f5ec;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #6b5900;
  --global-warning-block-text: #fff2af;
  --global-warning-block-title: #fff8d8;
  --global-danger-block: #c00;
  --global-danger-block-bg: #600;
  --global-danger-block-text: #ffb9b9;
  --global-danger-block-title: #ffe0e0;

  #light-toggle-system,
  #light-toggle-dark,
  #light-toggle-light {
    display: none;
  }

  .only-light {
    display: none;
  }

  .only-dark {
    display: block;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}
/*
html[data-theme="dark"] {
}

html[data-theme-setting="dark"] {
}

html[data-theme-setting="light"] {
  #light-toggle-light {
    display: none;
  }
}
*/
